.container {
  display: flex; /* Define o elemento como um contêiner flexível */
  flex-direction: column; /* Define a direção do eixo principal como coluna */
  justify-content: center; /* Centraliza os elementos no eixo principal */
  align-items: center; /* Centraliza os elementos no eixo secundário */
}

.main {
  width: 47rem; /* Define a largura do elemento como 47rem */
  margin-top: -1.625rem; /* Define a margem superior como -1.625rem */
}
