:root { // Define o seletor de raiz, que é usado para declarar variáveis CSS globais
    --white: #ffffff; // Define uma variável chamada white com a cor branca
    --gray-100: #e1e1e6; // Define uma variável chamada gray-100 com uma cor cinza claro
    --gray-300: c4c4cc; // Define uma variável chamada gray-300 com uma cor cinza médio
    --gray-400: #8d8d99; // Define uma variável chamada gray-400 com uma cor cinza
    --gray-600: #323238; // Define uma variável chamada gray-600 com uma cor cinza escuro
    --gray-700: #29292e; // Define uma variável chamada gray-700 com uma cor cinza mais escuro
    --gray-800: #202024; // Define uma variável chamada gray-800 com uma cor cinza ainda mais escuro
    --gray-900: #121214; // Define uma variável chamada gray-900 com uma cor cinza muito escuro
    --green-300: #00B37E; // Define uma variável chamada green-300 com uma cor verde claro
    --green-500: #00875f; // Define uma variável chamada green-500 com uma cor verde
    --red-500: #F75A68; // Define uma variável chamada red-500 com uma cor vermelho
}

:focus { // Define um pseudo-seletor que especifica o comportamento de um elemento quando ele está em foco
    outline: transparent; // Remove o contorno padrão ao receber o foco
    box-shadow: 0 0 0 2px var(--green-500); // Adiciona uma sombra ao redor do elemento quando ele está em foco
}

*{ // Define uma regra que aplica a todos os elementos, exceto ao próprio elemento raiz (:root)
    margin: 0; // Define a margem externa como 0
    padding: 0; // Define o preenchimento interno como 0
    box-sizing: border-box; // Define o modelo de caixa como "border-box" (a largura e altura do elemento incluem o preenchimento e a borda)
}

body { // Define as regras para o elemento body
    background: var(--gray-900); // Define o plano de fundo do body com a cor cinza mais escura
    color: var(--gray-300); // Define a cor do texto como cinza claro
    -webkit-font-smoothing: antialiased; // Aplica suavização de fonte antialiasing no texto para melhorar a aparência em navegadores da WebKit
}

body, input, textarea, button { // Define as regras comuns para body, input, textarea e button
    font-family: 'Roboto', sans-serif; // Define a família de fontes para Roboto ou uma fonte sans-serif genérica, caso a Roboto não esteja disponível
    font-weight: 400; // Define o peso da fonte como normal (400)
    font-size: 1rem; // Define o tamanho da fonte como uma unidade relativa, 1rem é igual a 16px por padrão
}