/* Define as variáveis de cores utilizadas na aplicação */
:root {
  --gray-100: #F2F2F2;
  --gray-200: #D9D9D9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1A1A1A;
  --gray-700: #0D0D0D;

  --pouple: #8284FA;
  --poupleDark: #5E60CE;
  --blue: #4EA8DE;
  --blueDark: #1E6F9F;
  --danger: #E25858;
}

/* Define que todos os elementos da página tenham margem e padding 0 e box-sizing como border-box */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define a cor de fundo da página como a cor cinza mais escura */
body {
  background: var(--gray-600);
}

/* Define que quando um elemento estiver em foco, a borda ficará transparente e o box-shadow ficará na cor roxa escura */
:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--dark-purple);
}

/* Define a fonte padrão da página como Inter, sans-serif, tamanho 1rem e cor cinza claro */
body, input, textarea, button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--gray-100);
}
