.noTask {
  display: flex; /* Define o elemento como um container flexível */
  flex-direction: column; /* Define a direção dos elementos filho como coluna */
  justify-content: center; /* Centraliza os elementos filho verticalmente */
  align-items: center; /* Centraliza os elementos filho horizontalmente */
  padding: 64px 24px; /* Define o preenchimento interno do elemento */
  border-top: 1px solid var(--gray-400); /* Define a borda superior com 1px de largura e a cor cinza 400 */
  border-radius: 8px; /* Define o raio dos cantos do elemento */
  gap: 1rem; /* Define o espaçamento entre os elementos filho */
}

.noTask > .content {
  text-align: center; /* Centraliza o texto */
  font-size: 1rem; /* Define o tamanho da fonte */
  line-height: 20px; /* Define a altura da linha */
  color: var(--gray-300); /* Define a cor do texto */
}
