#db.json
node_modules
#tmp
#db
#.env
#db/*.db
#db/test.db
#.env
#.env.test

Todas esses arquivos devem ignorados, porem a nivel de educacao coloquei eles no git hub por ser o primeiro projeto
algo que nao sera mais feito