/* Define o estilo para o componente de postagem */
.post {
  /* Define a cor de fundo como cinza escuro */
  background: var(--gray-800);
  /* Define o raio da borda como 8px */
  border-radius: 8px;
  /* Define o espaçamento interno como 2,5rem */
  padding: 2.5rem;
}

/* Define o espaçamento entre posts sucessivos */
.post + .post {
  margin-top: 2rem;
}

/* Define o estilo para o conteúdo da postagem */
.content {
  /* Define a altura da linha como 1,6 vezes o tamanho da fonte */
  line-height: 1.6;
  /* Define a cor do texto como cinza claro */
  color: var(--gray-300);
  /* Define o espaçamento superior como 1,5rem */
  margin-top: 1.5rem;
}

/* Define o estilo para parágrafos dentro do conteúdo */
.content p {
  /* Define o espaçamento superior como 1rem */
  margin-top: 1rem;
}

/* Define o estilo para links dentro do conteúdo */
.content a {
  /* Define a fonte em negrito */
  font-weight: bold;
  /* Define a cor do texto como verde */
  color: var(--green-500);
  /* Remove o sublinhado do link */
  text-decoration: none;
}

/* Define o estilo do link quando o mouse está sobre ele */
.content a:hover {
  /* Define a cor do texto como um tom mais claro de verde */
  color: var(--green-300);
}

/* Define o estilo para o cabeçalho da postagem */
.post > header {
  /* Alinha os itens no centro e na horizontal */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Define o estilo para a data de publicação da postagem */
.post > header time {
  /* Define o tamanho da fonte como 0,875 vezes o tamanho da fonte */
  font-size: 0.875rem;
  /* Define a cor do texto como cinza mais claro */
  color: var(--gray-400);
}

/* Define o estilo para o autor da postagem */
.author {
  /* Alinha os itens na horizontal com um espaçamento entre eles de 1rem */
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Define o estilo para a informação do autor da postagem */
.authorInfo strong {
  /* Define a cor do texto como branco */
  color: var(--gray-100);
  /* Define a altura da linha como 1,6 vezes o tamanho da fonte */
  line-height: 1.6;
  /* Define o display como bloco */
  display: block;
}

/* Define o estilo para a função do autor da postagem */
.authorInfo span {
  /* Define o tamanho da fonte como 0,875 vezes o tamanho da fonte */
  font-size: 0.875rem;
  /* Define a cor do texto como cinza mais claro */
  color: var(--gray-400);
  /* Define a altura da linha como 1,6 vezes o tamanho da fonte */
  line-height: 1.6;
  /* Define o display como bloco */
  display: block;
}

/* Define o estilo para o formulário de comentários */
.commentForm {

    /* Define a largura da área de formulário como 100% da largura do contêiner pai */
    width: 100%;
    /* Define uma margem superior de 1,5 rem (unidade relativa ao tamanho da fonte) */
    margin-top: 1.5rem;
    /* Define um preenchimento superior de 1,5 rem */
    padding-top: 1.5rem;
    /* Define uma borda superior de 1 pixel sólido com a cor definida pela variável --gray-600 */
    border-top: 1px solid var(--gray-600);
  }
  
  .commentForm > strong {
    /* Define a altura da linha do elemento strong como 1,6 vezes a altura da fonte */
    line-height: 1.6;
    /* Define a cor do texto do elemento strong como a cor definida pela variável --gray-100 */
    color: var(--gray-100);
  }
  
  .commentForm textarea {
    /* Define a largura da área de texto como 100% da largura do contêiner pai */
    width: 100%;
    /* Define a cor de fundo da área de texto como a cor definida pela variável --gray-900 */
    background: var(--gray-900);
    /* Define a borda da área de texto como 0 */
    border: 0;
    /* Define que a área de texto não pode ser redimensionada pelo usuário */
    resize: none;
    /* Define a altura da área de texto como 6 rem (unidade relativa ao tamanho da fonte) */
    height: 6rem;
    /* Define o preenchimento interno da área de texto */
    padding: 1rem;
    /* Define o raio de borda da área de texto como 0.25 rem */
    border-radius: 0.25rem;
    /* Define a cor do texto da área de texto como a cor definida pela variável --gray-100 */
    color: var(--gray-100);
    /* Define a altura da linha da área de texto como 1.4 vezes a altura da fonte */
    line-height: 1.4;
    /* Define a margem superior da área de texto como 1 rem */
    margin-top: 1rem;
  }
  
  .commentForm footer {
    /* Define a visibilidade do elemento footer como oculto */
    visibility: hidden;
    /* Define a altura máxima do elemento footer como 0 */
    max-height: 0;
  }
  
  .commentForm:focus-within footer {
    /* Define a visibilidade do elemento footer como visível quando o formulário possui foco */
    visibility: visible;
    /* Define a altura máxima do elemento footer como a altura máxima possível */
    max-height: none;
  }
  
  .commentForm button[type="submit"] {
    /* Define o preenchimento do botão de envio como 1 rem de cima e baixo e 1,5 rem de esquerda e direita */
    padding: 1rem 1.5rem;
    /* Define a margem superior do botão como 1 rem */
    margin-top: 1rem;
    /* Define o raio de borda do botão como 8 px */
    border-radius: 8px;
    /* Define a borda do botão como 0 */
    border: 0;
    /* Define a cor de fundo do botão como a cor definida pela variável --green-500 */
    background: var(--green-500);
    color: var(--white);
  /* Define o peso da fonte como negrito */
  font-weight: bold;
  /* Define o cursor como um ponteiro para indicar que é um botão clicável */
  cursor: pointer;

  /* Define a duração da transição de mudança de cor de fundo */
  transition: background-color 0.1s;
}

.commentForm button[type="submit"]:not(:disabled):hover {
  /* Define a cor de fundo quando o botão é clicado */
  background: var(--green-300);
}

.commentForm button:disabled {
  /* Define a opacidade e o cursor quando o botão está desativado */
  opacity: 0.7;
  cursor: not-allowed;
}

.commentList {
  /* Define a margem superior para a seção de comentários */
  margin-top: 2rem;
}